<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{'/css/style.css'}" />
    <meta charset="UTF-8">
    <title>HR System</title>
</head>
<body>
    <h1>Count of Employees per job position</h1>
    <div>
        <a href="/HRsystem">Back to main page</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <td>Job position</td>
                <td>Count of Employees</td>
                <td>Average age</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employeeReport : ${employeeReportTable}" th:object="${employeeReport}">
                <td th:text="*{position}"></td>
                <td th:text="*{countOfEmployees}"></td>
                <td th:text="*{averageAge}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>